/* center index page contents & use the same typeface as reveal.js simple theme */

@import url(reveal.js/dist/theme/fonts/dosis/dosis.css);
@import url(reveal.js/dist/theme/fonts/source-sans-pro/source-sans-pro.css);

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: auto;
  font-size: 1.2em;
  width: 90%;
}
p {
  text-align: justify;
}
@media (min-width: 980px) {
  body {
    width: 780px;
	}
	p {
	  text-align: left;
	}
}

#title-wrapper {
	text-align: center;
	margin-top: 1.6em;
}
#title-contents {
	display: inline-block;;
}
#title-contents h1 {
  margin-top: 0.4em;
}

a {
  color: #00008B;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; 
  word-wrap: break-word; 
}

a:hover {
  color: #0000f1;
  text-shadow: none;
  border: none;
}

ul {
  /* no bullets go better with table of content list */
  list-style-type: none; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.6em 0 .8em 0;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; 
}